node-test/data/WiredTiger.lock
node-test/data/mongod.lock
node-test-2/data/WiredTiger.lock
node-test-2/data/mongod.lock
abc-fast-service/server/data/mongod.lock
abc-fast-service/server/data/WiredTiger.lock
